@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ropa+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ropa Sans';
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 10px gray;
    color: #777777
}

.cabeca {
    display: flex;
    align-items: center;

}

header h1 {
    margin-left: 44px;
    font-family: 'Ropa Sans';
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

header h4 {
    margin-left: 5px;
    font-family: 'Ropa Sans';
    font-size: 10px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: left;
    color: #AAAAAA;
    width: 38px;

}

.menu-burguer {
    margin-right: 31px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerhome {
    width: 90%;
    margin-top: 50px;
}

.produtos {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.produtos h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    color: #888888;
    margin-left: 12px;
}

.produto1 {
    width: 45%;
    background-color: #EEEEEE;
}

.produto2 {
    width: 45%;
    background-color: #EEEEEE;
}

.imgcasa1 {
    width: 100%;
}

.imgcasa2 {
    width: 100%;
}

.preco-e-botao1 {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
}

.preco-e-botao2 {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
}

.button {
    width: 56px;
    height: 21px;
    background: #51D275;
    border-radius: 10.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produtos p {
    margin: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    text-align: justify;
    color: #555555;
}

.titulo-your-style {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.your-style h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #888888;
}

.industrial {
    padding: 50px 200px 50px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../css/Arquivo\ Comprimido/industrial4.jpg");
    background-size: 100%;
    background-position: center;
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    opacity: 0.7;
}

.modern {
    padding: 50px 200px 50px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../css/Arquivo\ Comprimido/modern1.jpg");
    background-size: 100%;
    background-position: center;
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 13px;
    color: white;
    opacity: 0.7;
}

.classic {
    padding: 50px 200px 50px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../css/Arquivo\ Comprimido/classic1.jpg");
    background-size: 100%;
    background-position: center;
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 13px;
    color: white;
    opacity: 0.6;
}

.rodape {
    display: flex;
    background-color: #333333;
    margin-top: 57px;
    padding: 5%;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.social-medias p {
    margin-top: 15px;
}

.contatos-footer {
    line-height: 30px;
}

.social-medias ul {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}